.idea
env
bunny
logs
chromedriver.exe
env.bat
urls.txt
main.py
data.txt
__pycache__
geckodriver.exe
img
geckodriver.log
*.log
screenshots
scrawler/screenshots
scrawler/env
scrawler/bunny
scrawler/logs
build
dist
Scrawler.egg-info
*.pyc
*.pyi
info.txt
projects.txt
database.db